@font-face {
    font-family: Regular;
    src: url(./res/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: Display;
    src: url(./res/SF-Pro-Display-Regular.otf);
}
/* основная страница */
header {
    margin: 0; padding: 0;
    background-color: white;
    grid-area: header;
}
.home-header_grid {
    display: grid;
    grid-template-rows: (2, 19px 53px);
    justify-items: center;
}
.home-header_button {
    display: flex; width: 304px; height: 19px;
    margin: 15px 0px 0px 0px; text-align: center; padding: 0px; gap: 10px;
}
.home-header_button a {
    text-decoration: none; font-family: Regular; font-size: 16px; color: #000000;
    transition: 0.3s ease-in;
}
.home-text_block {
    display: grid;  width: 245px; height: 53px;
    margin: 25px 0px 0px 0px; text-align: center; padding: 0px;
}
.header_text {
    margin: 0px; padding: 0px;
    font-family: Display; font-size: 32px; font-weight: 700; color: #1D1D1F;
}
.footer_text {
    margin: 0px; padding: 0px;
    font-family: Regular; font-size: 12px; font-weight: 100; color: #6E6E73;
}

body {
    margin: 0px; padding: 0px;
    grid-template-rows: auto 1fr;
    background-color: white;
}
.home-mainblock {
    display: grid;
    margin: 25px 0px 0px 0px; padding: 0px; justify-content: center;
}
.home-card_course {
    display: grid;
    grid-template-rows: repeat(4, auto);
    background-color: #D9D9D9; border-radius: 20px;
    width: 310px; max-height: 450px;
}
.home-course_number {
    font-family: Display; font-size: 200px; font-weight: 700;
    color: white; margin: 0px; padding: 0px;
    text-align: center;
    height: 239px; 
}
.home-text_main {
    margin: 0px 0px 0px 20px;
}
.home-couse_text_main {
    font-family: Display; font-size: 32px; font-weight: 600;
    color: #1D1D1F; margin: 0px; padding: 0px;
    width: 185px;
}
.home-date_text_main {
    font-family: Regular; font-size: 16px;
    color: #6E6E73; margin: 0px; padding: 0px;
    width: 129px; height: 19px;
}
.home-info_text_main {
    font-family: Regular; font-size: 12px;
    color: #6E6E73; margin: 20px 0px 0px 20px; padding: 0px;
    width: 212px; height: 42px;
}
.home-button_main {
    cursor: pointer;
    width: 200px; height: 40px; margin: 25px 0px 25px 55px; padding: 0px;
    background-color: #007FFF; border-radius: 20px; border: none;
    font-family: Regular; font-size: 16px; color: white; font-weight: 600;
    text-align: center;
}
.footer_bottom_text {
    font-family: Regular; font-size: 10px; font-weight: 500;
    text-align: center; margin: 100px 0px 0px 0px; color: #6E6E73;
}
